{% import 'components/atoms/badge/badge.html' as atom_badge %}

{% macro regular(title = '', subtitle = '', badge = {}) %}
  {% if title %}
    <div class="landing-header">
      <div class="landing-header__wrapper">
        <h1 class="landing-header__title">{{ title }}</h1>

        {% if subtitle %}
          <p class="landing-header__subtitle">{{ subtitle }}</p>
        {% endif %}

        {{ atom_badge.regular(variant = 'bright', href = badge.href, title = badge.title) }}
      </div>
    </div>
  {% endif %}
{% endmacro %}
