@use '../../../assets/stylesheets/definitions/breakpoints' as breakpoints;
@use '../../../assets/stylesheets/definitions/grid' as grid;
@use '../../../assets/stylesheets/definitions/typography' as typography;

.landing-header {
  position: relative;

  .landing-header__wrapper {
    padding: var(--padding-xl) var(--padding-large) var(--padding-xl);

    &:has(.badge) {
      padding-bottom: 16rem;
    }
  }

  .landing-header__title {
    max-width: 17ch;
    pointer-events: none;
    position: relative;
    z-index: 99;

    @include typography.heading-1;
  }

  .landing-header__subtitle {
    margin-top: 1rem;

    @include typography.subtitle;
  }

  .richtext {
    margin-top: 1.5rem;
  }

  .badge {
    bottom: calc(var(--padding-medium) + 1rem);
    position: absolute;
    right: var(--padding-medium);
  }

  @include breakpoints.landscape {
    .landing-header__wrapper {
      padding: var(--padding-medium) calc(var(--padding-large) * 3.5) var(--padding-large) var(--padding-large);

      &:has(.badge) {
        padding-bottom: var(--padding-large);
      }
    }

    .richtext--gigantic {
      margin-right: calc(var(--padding-large) * 2.5);
      width: calc(100% + (var(--padding-large) * 2.5));
    }

    .badge {
      margin: 0;
      right: var(--padding-large);
      top: var(--padding-medium);
    }
  }
}
