{% import 'components/atoms/badge/badge.html' as atom_badge %}
{% import 'components/atoms/richtext/richtext.html' as atom_richtext %}

{% macro regular(title = '', subtitle = '', richtext = '', richtext_gigantic = '', more_richtext = '', badge = {}) %}
  {% if title %}
    <div class="landing-header">
      <div class="landing-header__wrapper">
        <h1 class="landing-header__title">{{ title }}</h1>

        {% if subtitle %}
          <p class="landing-header__subtitle">{{ subtitle }}</p>
        {% endif %}

        {% if richtext %}
          {{ atom_richtext.regular(richtext = richtext) }}
        {% endif %}

        {% if richtext_gigantic %}
          {{ atom_richtext.gigantic(richtext = richtext_gigantic) }}
        {% endif %}

        {% if more_richtext %}
          {{ atom_richtext.regular(richtext = more_richtext) }}
        {% endif %}

        {{ atom_badge.regular(variant = 'bright', href = badge.href, title = badge.title) }}
      </div>
    </div>
  {% endif %}
{% endmacro %}
