@use '../../../assets/stylesheets/definitions/breakpoints' as breakpoints;
@use '../../../assets/stylesheets/definitions/typography' as typography;

.project-card {
  aspect-ratio: 1 / 1;
  display: block;
  overflow: hidden;
  position: relative;

  .project-card__picture {
    &,
    .picture__image {
      aspect-ratio: 1 / 1;
    }
  }

  .project-card__content {
    height: 100%;
    inset: 0;
    position: absolute;
    width: 100%;
  }

  .project-card__content {
    background-color: var(--color-blue);
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    opacity: 0;
    overflow: hidden;
    padding: 5vw;
    place-content: center;
    place-items: center;
    pointer-events: none;
    text-align: center;
    transition: opacity var(--easing-slow);
    z-index: 10;
  }

  .project-card__label {
    background-color: var(--color-white);
    clip-path: polygon(100% 0, calc(100% - 1rem) 50%, 100% 100%, 0% 100%, 1rem 50%, 0% 0%);
    color: var(--color-blue);
    margin: 0 -2.5rem 1.75rem;
    padding: 0.75rem 3rem 0.5rem;

    @include typography.label;
  }

  .project-card__title {
    @include typography.project-card-title;
  }

  .project-card__subtitle {
    margin-top: 0.25rem;
    padding: 0 1.5rem;

    @include typography.subtitle;
  }

  &:hover,
  &:focus-visible {
    .project-card__content {
      opacity: 1;
      pointer-events: auto;
    }
  }
}
