{% extends 'templates/_base.en.html' %}
{% import 'components/organisms/article-footer/article-footer.html' as article_footer %}
{% import 'components/organisms/call-to-action/call-to-action.html' as call_to_action %}
{% import 'components/organisms/image-grid/image-grid.html' as image_grid %}
{% import 'components/organisms/image-header/image-header.html' as image_header %}
{% set page_title = 'Make Your Own Law: Propose, Explore, Debate' %}
{% set page_description = 'TODO: Page description' %}
{% set project_slug = 'prodemos' %}

{% block content %}
  {{
    image_header.regular(
      title = page_title,
      subtitle = 'ProDemos, The Hague (NL), 2021',
      image = { src: 'projects/' + project_slug + '/cover_3x1', alt: 'TODO: Alt text' }
    )
  }}

  {{
    image_grid.regular(
      title = 'Overview',
      introduction = 'ProDemos is an organization in The Hague that educates citizens, particularly students, about Dutch democracy and the rule of law. Their educational program begins in the classroom, where students draft their own bill proposals. During their visit to the ProDemos Center, they split into teams and take part in a GPS-guided game that leads them through key landmarks, completing tasks that illustrate the lawmaking process. The experience concludes with a shared animated film designed to spark further discussion back in class.',
      items = [
        { image: { src: 'projects/' + project_slug + '/01_2x1', alt: 'TODO: Alt text' } },
        { image: { src: 'projects/' + project_slug + '/02_1x1', alt: 'TODO: Alt text' } },
        { image: { src: 'projects/' + project_slug + '/03_1x1', alt: 'TODO: Alt text' } },
        { image: { src: 'projects/' + project_slug + '/04_1x1', alt: 'TODO: Alt text' } },
        { image: { src: 'projects/' + project_slug + '/05_1x1', alt: 'TODO: Alt text' } }
      ]
    )
  }}

  {{
    image_grid.regular(
      title = 'Contribution',
      introduction = 'I was responsible for the UI/UX and visual design, shaping a walking experience that combines a serious topic with game mechanics. The aim was to create a playful and immersive journey, where tasks could be completed collaboratively in context. By blending exploration with interactive challenges, the experience helps students understand complex political ideas in a way that feels accessible, active, and fun.',
      items = [
        { image: { src: 'projects/' + project_slug + '/06_2x1', alt: 'TODO: Alt text' } },
        { image: { src: 'projects/' + project_slug + '/07_1x1', alt: 'TODO: Alt text' } },
        { image: { src: 'projects/' + project_slug + '/08_1x1', alt: 'TODO: Alt text' } },
        { image: { src: 'projects/' + project_slug + '/09_2x1', alt: 'TODO: Alt text' } }
      ]
    )
  }}

  {% call article_footer.regular() %}
    <h3>Credits</h3>

    <p>
      <strong>Role:</strong>
      Art Director | Lead Designer<br />
      <strong>Employer:</strong>
      Studio Louter<br />
      <strong>Client:</strong>
      ProDemos<br />
      <strong>Photography:</strong>
      Bas van Vliet + Studio Louter
    </p>

    <p>© All rights reserved to Studio Louter</p>
  {% endcall %}

  {{
    call_to_action.regular(
      variant = 'badge',
      quote = 'Explore the next project or start a conversation.',
      badge = { href: 'mailto:_send_me_an_?subject=Via%20the%20website', title: 'Get in touch!' },
      card = {
        href: '/projects/het-steen/',
        title: 'Het Steen: The Gateway to Antwerp’s history',
        subtitle: 'Visit Antwerp, Antwerp (BE)',
        image: { src: 'projects/het-steen/thumbnail_1x1', alt: 'TODO: Alt text' }
      }
    )
  }}
{% endblock %}
