{% extends 'templates/_base.en.html' %}
{% import 'components/organisms/article-footer/article-footer.html' as article_footer %}
{% import 'components/organisms/call-to-action/call-to-action.html' as call_to_action %}
{% import 'components/organisms/image-grid/image-grid.html' as image_grid %}
{% import 'components/organisms/image-header/image-header.html' as image_header %}
{% set page_title = 'Shifting Image on the Dutch Colonial History' %}
{% set page_description = 'TODO: Page description' %}
{% set project_slug = 'mauritshuis' %}

{% block content %}
  {{
    image_header.regular(
      title = page_title,
      subtitle = 'Mauritshuis, The Hague (NL), 2019',
      image = { src: 'projects/' + project_slug + '/cover_3x1', alt: 'TODO: Alt text' }
    )
  }}

  {{
    image_grid.regular(
      title = 'Overview',
      introduction = 'The Mauritshuis Museum examines the legacy of Johan Maurits, Count of Nassau-Siegen, focusing on his governance of the Dutch colony in Brazil and his involvement in the transatlantic slave trade. The exhibition explores how colonial history is represented through historical artifacts, contemporary reflections, and interactive installations.',
      items = [
        { image: { src: 'projects/' + project_slug + '/01_2x1', alt: 'TODO: Alt text' } },
        { image: { src: 'projects/' + project_slug + '/02_1x1', alt: 'TODO: Alt text' } },
        { image: { src: 'projects/' + project_slug + '/03_1x1', alt: 'TODO: Alt text' } },
        { image: { src: 'projects/' + project_slug + '/04_2x1', alt: 'TODO: Alt text' } },
        { image: { src: 'projects/' + project_slug + '/05_2x1', alt: 'TODO: Alt text' } },
        { image: { src: 'projects/' + project_slug + '/06_1x1', alt: 'TODO: Alt text' } },
        { image: { src: 'projects/' + project_slug + '/07_1x1', alt: 'TODO: Alt text' } },
        { image: { src: 'projects/' + project_slug + '/08_2x1', alt: 'TODO: Alt text' } }
      ]
    )
  }}

  {{
    image_grid.regular(
      title = 'Contribution',
      introduction = 'I led the design of the exhibition’s multimedia and AV elements, shaping an experience that encouraged visitors to engage with multiple perspectives on the past. Through projections, visual storytelling, and symbolic installations, the exhibition invited audiences to reflect on the impact of colonialism and the ways history is narrated.',
      items = [
        { image: { src: 'projects/' + project_slug + '/09_2x1', alt: 'TODO: Alt text' } },
        { image: { src: 'projects/' + project_slug + '/10_1x1', alt: 'TODO: Alt text' } },
        { image: { src: 'projects/' + project_slug + '/11_1x1', alt: 'TODO: Alt text' } },
        { image: { src: 'projects/' + project_slug + '/12_2x1', alt: 'TODO: Alt text' } }
      ]
    )
  }}

  {% call article_footer.regular() %}
    <h3>Awards</h3>

    <p>
      <strong>AVICOM F@IMP 2.0 2020:</strong><br />
      Winner | Scenography<br />
      <strong>FX Design Award 2020:</strong><br />
      Finalist | Museum or Exhibition Space<br />
      <strong>Museums + Heritage Award 2020:</strong><br />
      Winner | The International Project of the Year &lt; £1m<br />
      <strong>European Design Awards 2020:</strong><br />
      Bronze | Exhibition Design<br />
      <strong>Frame Awards 2020:</strong><br />
      Longlist | Exhibition of the Year<br />
      <strong>Muse Design Awards 2019:</strong><br />
      Gold | Interior Design Exhibits, Pavilions, & Exhibitions<br />
      <strong>SBID Awards 2019:</strong><br />
      Nomination | Public Space Design
    </p>

    <h3>Credits</h3>

    <p>
      <strong>Role:</strong>
      Art Director | Lead Designer<br />
      <strong>Employer:</strong>
      Studio Louter<br />
      <strong>Client:</strong>
      Mauritshuis<br />
      <strong>Photography:</strong>
      Mike Bink
    </p>

    <p>© All rights reserved to Studio Louter</p>
  {% endcall %}

  {{
    call_to_action.regular(
      variant = 'badge',
      quote = 'Explore the next project or start a conversation.',
      badge = { href: 'mailto:_send_me_an_?subject=Via%20the%20website', title: 'Get in touch!' },
      image = { src: 'projects/ilmi/thumbnail_1x1', alt: 'TODO: Alt text' },
      card = {
        href: '/projects/ilmi/',
        title: 'A Digital Journey Through STREAM Informal Learning',
        subtitle: 'ilmi Science Discovery & Innovation Center, Riyadh (SA)',
        image: { src: 'projects/ilmi/thumbnail_1x1', alt: 'TODO: Alt text' }
      }
    )
  }}
{% endblock %}
