{% extends 'templates/_base.en.html' %}
{% import 'components/organisms/article-header/article-header.html' as article_header %}
{% import 'components/organisms/article-footer/article-footer.html' as article_footer %}
{% import 'components/organisms/call-to-action/call-to-action.html' as call_to_action %}
{% import 'components/organisms/call-to-nonaction/call-to-nonaction.html' as call_to_nonaction %}
{% import 'components/organisms/card-grid/card-grid.html' as card_grid %}

{% set page_title = data.sections.projects.title %}
{% set page_description = data.sections.projects.description %}
{% set opengraph_image = '/static/media/misc/social_1200x630.jpg' %}

{% block content %}
  {{
    article_header.regular(
      title = data.sections.projects.title_with_markup or data.sections.projects.title,
      subtitle = data.sections.projects.description_with_markup or data.sections.projects.description
    )
  }}

  {{
    card_grid.regular(
      above_fold = true,
      cards = [
        {
          href: '/projects/shifting-image/',
          title: 'Shifting Image',
          subtitle: 'Mauritshuis, The Hague (NL)',
          label: 'Awarded',
          image: { src: 'projects/shifting-image/thumbnail_1x1', alt: data.alts['projects/shifting-image/thumbnail_1x1'] }
        },

        {
          href: '/projects/maker-park/',
          title: 'Maker park',
          subtitle: 'ilmi Science Discovery & Innovation Center, Riyadh (SA)',
          image: { src: 'projects/maker-park/thumbnail_1x1', alt: data.alts['projects/maker-park/thumbnail_1x1'] }
        },

        {
          href: '/projects/family-exhibits/',
          title: 'Family Exhibits',
          subtitle: 'National Museum of Qatar, Doha (QA)',
          label: 'Awarded',
          image: { src: 'projects/family-exhibits/thumbnail_1x1', alt: data.alts['projects/family-exhibits/thumbnail_1x1'] }
        },

        {
          href: '/projects/cruquius-museum/',
          title: 'Cruquius museum',
          subtitle: 'Cruquius Museum, Cruquius (NL)',
          label: 'Featured',
          image: { src: 'projects/cruquius-museum/thumbnail_1x1', alt: data.alts['projects/cruquius-museum/thumbnail_1x1'] }
        },

        {
          href: '/projects/joh-enschede/',
          title: 'Joh. Enschedé',
          subtitle: 'Noord-Hollands Archief, Haarlem (NL)',
          label: 'Awarded + Featured',
          image: { src: 'projects/joh-enschede/thumbnail_1x1', alt: data.alts['projects/joh-enschede/thumbnail_1x1'] }
        },

        {
          href: '/projects/living-planet/',
          title: 'Living planet',
          subtitle: 'Museum of Natural Sciences, Brussels (BE)',
          image: { src: 'projects/living-planet/thumbnail_1x1', alt: data.alts['projects/living-planet/thumbnail_1x1'] }
        },

        {
          href: '/projects/herman-boerhaave/',
          title: 'Herman Boerhaave',
          subtitle: 'Rijksmuseum Boerhaave, Leiden (NL)',
          image: { src: 'projects/herman-boerhaave/thumbnail_1x1', alt: data.alts['projects/herman-boerhaave/thumbnail_1x1'] }
        },

        {
          href: '/projects/prodemos/',
          title: 'ProDemos',
          subtitle: 'ProDemos, The Hague (NL)',
          image: { src: 'projects/prodemos/thumbnail_1x1', alt: data.alts['projects/prodemos/thumbnail_1x1'] }
        },

        {
          href: '/projects/het-steen/',
          title: 'Het Steen',
          subtitle: 'Visit Antwerp, Antwerp (BE)',
          image: { src: 'projects/het-steen/thumbnail_1x1', alt: data.alts['projects/het-steen/thumbnail_1x1'] }
        }
      ]
    )
  }}

  {{
    call_to_nonaction.regular(
      quote = 'Discover past projects that reflect my multidisciplinary mindset on Behance.'
    )
  }}

  {% set cta_quote = data.sections.projects.cta_quote %}
  {% set section_card = merge({}, data.section_cards.about) %}
  {{ object_set_value(section_card, 'image', { src: section_card.image, alt: data.alts[section_card.image] }) }}
  {{ call_to_action.regular(quote = cta_quote, card = section_card, badge = { variant: 'bright', href: 'mailto:_send_me_an_', title: data.base.badge_contact_title }) }}
{% endblock %}
