{% extends 'templates/_base.en.html' %}
{% import 'components/organisms/article-header/article-header.html' as article_header %}
{% import 'components/organisms/article-footer/article-footer.html' as article_footer %}
{% import 'components/organisms/call-to-action/call-to-action.html' as call_to_action %}
{% import 'components/organisms/call-to-nonaction/call-to-nonaction.html' as call_to_nonaction %}
{% import 'components/organisms/card-grid/card-grid.html' as card_grid %}

{% set page_title = data.sections.projects.title %}
{% set page_description = data.sections.projects.description %}
{% set opengraph_image = '/static/media/misc/social_1200x630.jpg' %}

{% block content %}
  {{
    article_header.regular(
      title = data.sections.projects.title_with_markup or data.sections.projects.title,
      subtitle = data.sections.projects.description_with_markup or data.sections.projects.description
    )
  }}

  {%
    set project_cards = [
      merge({}, data.project_cards.shifting_image),
      merge({}, data.project_cards.maker_park),
      merge({}, data.project_cards.family_exhibits),
      merge({}, data.project_cards.vanishing),
      merge({}, data.project_cards.cruquius_museum),
      merge({}, data.project_cards.joh_enschede),
      merge({}, data.project_cards.herman_boerhaave),
      merge({}, data.project_cards.living_planet),
      merge({}, data.project_cards.badge_academy),
      merge({}, data.project_cards.parassita),
      merge({}, data.project_cards.canon),
      merge({}, data.project_cards.het_steen),
      merge({}, data.project_cards.middelen_meter),
      merge({}, data.project_cards.prodemos),
      merge({}, data.project_cards.interplanetary),
    ]
  %}

  {% for project_card in project_cards %}
    {{ object_set_value(project_card, 'image', { src: project_card.image, alt: data.alts[project_card.image] }) }}
  {% endfor %}

  {{ card_grid.regular(above_fold = true, cards = project_cards) }}

  {{
    call_to_nonaction.regular(
      quote = 'Discover past projects that reflect my multidisciplinary mindset on Behance.'
    )
  }}

  {% set cta_quote = data.sections.projects.cta_quote %}
  {% set section_card = merge({}, data.section_cards.about) %}
  {{ object_set_value(section_card, 'image', { src: section_card.image, alt: data.alts[section_card.image] }) }}
  {{ call_to_action.regular(quote = cta_quote, card = section_card, badge = { variant: 'bright', href: 'mailto:_send_me_an_', title: data.base.badge_contact_title }) }}
{% endblock %}
