@use '../../../assets/stylesheets/definitions/breakpoints' as breakpoints;
@use '../../../assets/stylesheets/definitions/grid' as grid;
@use '../../../assets/stylesheets/definitions/typography' as typography;

.article-footer {
  display: flex;
  position: relative;

  .article-footer__wrapper {
    background-color: var(--color-blue);
    color: var(--color-white);
    flex: 0 0 100%;
    padding: calc(var(--padding-xl) * 2.6) var(--padding-large) calc(var(--padding-xl) * 2.6);
    width: 100%;
  }

  @include breakpoints.landscape {
    .article-footer__wrapper {
      flex: 0 0 66.667%;
      padding: var(--padding-large);
    }
  }
}
