{% extends 'templates/_base.it.html' %}
{% import 'components/organisms/article-footer/article-footer.html' as article_footer %}
{% import 'components/organisms/call-to-action/call-to-action.html' as call_to_action %}
{% import 'components/organisms/image-grid/image-grid.html' as image_grid %}
{% import 'components/organisms/image-header/image-header.html' as image_header %}
{% set page_title = 'Joh. Enschedé' %}
{% set page_description = 'Alla scoperta degli stampatori dietro pagine, banconote e caratteri che hanno plasmato una nazione.' %}
{% set project_slug = 'nh-archief' %}
{% set opengraph_image = '/static/media/projects/' + project_slug + '/cover_3x1_2560w.jpg' %}
{% set opengraph_title = page_title %}
{% set opengraph_description = page_description %}
{% set page_url_en = '/projects/' + project_slug + '/' %}
{% set page_url_it = '/it/progetti/' + project_slug + '/' %}

{% block linked_pages %}
  <link rel="alternate" hreflang="en" href="{{ page_url_en }}" />
  <link rel="alternate" hreflang="it" href="{{ page_url_it }}" />
{% endblock %}

{% block content %}
  {{
    image_header.regular(
      title = page_title,
      description = page_description,
      subtitle = 'Noord-Hollands Archief, Haarlem (NL), 2019',
      image = { src: 'projects/' + project_slug + '/cover_3x1', alt: 'Giovane uomo che osserva da vicino una linea del tempo retroilluminata con ritratti e eventi chiave legati all’eredità di Joh. Enschedé, un tipografo olandese specializzato in documenti di valore.' }
    )
  }}

  {{
    image_grid.regular(
      title = 'Panoramica',
      introduction = 'Il Noord-Hollands Archief ha inaugurato una mostra permanente dedicata a Joh. Enschedé, la storica tipografia responsabile della stampa di banconote, francobolli e caratteri tipografici dei Paesi Bassi. Una scenografica vetrata a tutta altezza crea un’atmosfera luminosa e accogliente, incorniciando tre installazioni principali: una pressa da stampa del XVIII secolo, una selezione di caratteri tipografici unici e un rullo da stampa per banconote. App interattive e giochi fisici distribuiti nello spazio invitano i visitatori a scoprire il sapere artigianale che si cela dietro oggetti di uso quotidiano.',
      items = [
        { image: { src: 'projects/' + project_slug + '/01_1x1', alt: 'Esposizione sulla fabbricazione dei libri, con una pressa da stampa storica circondata da libri e figurine in miniatura, con pagine stampate sospese sopra e vetrate colorate sullo sfondo.' } },
        { image: { src: 'projects/' + project_slug + '/02_1x1', alt: 'Postazione tematica sulla tipografia con installazioni di caratteri tipografici metallici sospesi sopra, vetrine con materiali da stampa in basso, e vetrate colorate che aggiungono profondità alla galleria.' } },
        { image: { src: 'projects/' + project_slug + '/03_1x1', alt: 'Stazione dedicata alle banconote con grandi rulli da stampa sospesi sopra una vetrina di documenti finanziari, su una parete in mattoni a vista e vetrate colorate ispirate al design delle valute.' } },
        { image: { src: 'projects/' + project_slug + '/04_1x1', alt: 'Postazione interattiva con strumenti antichi e uno schermo touchscreen, davanti a una vetrata colorata che raffigura collage di banconote e riferimenti storici.' } },
        { image: { src: 'projects/' + project_slug + '/05_1x1', alt: 'Primo piano di una vetrata colorata vivace che mostra un collage di ritratti, motivi e elementi tipografici tratti da banconote olandesi e motivi di stampa vari.' } },
        { image: { src: 'projects/' + project_slug + '/06_1x1', alt: 'Vetrina contenente strumenti da stampa in metallo e stampi in piombo, sotto a un pannello infografico montato che spiega il processo di creazione dei caratteri tipografici in piombo.' } }
      ]
    )
  }}

  {{
    image_grid.regular(
      title = 'Contributo',
      introduction = 'Ero la responsbaile della progettazione e produzione della componente grafica e dello stile visivo della mostra. Il design ha portato chiarezza e struttura, aggiungendo un tocco contemporaneo ai racconti storici e rendendo il mondo della stampa di sicurezza accessibile e affascinante.',
      items = [
        { image: { src: 'projects/' + project_slug + '/07_1x1', alt: 'Due bambini con cuffie e schede in mano, interagiscono con un’esposizione interattiva sulle tecniche e la storia della stampa.' } },
        { image: { src: 'projects/' + project_slug + '/08_1x1', alt: 'Donna che partecipa a un’esperienza pratica di stampa, tirando una leva su una struttura in legno sotto a uno schermo che spiega come impostare e utilizzare una pressa storica.' } },
        { image: { src: 'projects/' + project_slug + '/09_1x1', alt: 'Due giovani donne che leggono e discutono un libro esposto su un tavolo museale con piano in vetro, circondate da altre esposizioni e grafiche legate alla stampa.' } },
        { image: { src: 'projects/' + project_slug + '/10_1x1', alt: 'Due ragazzi interagiscono con un tavolo espositivo illuminato, uno indica un oggetto relativo alla stampa sotto il vetro, con diagrammi educativi sui caratteri tipografici in sottofondo.' } },
        { image: { src: 'projects/' + project_slug + '/11_2x1', alt: 'Uomo e donna sorridono mentre interagiscono con uno schermo digitale integrato in un tavolo espositivo, circondati da elementi espositivi colorati e pareti in mattoni.' } },
        { image: { src: 'projects/' + project_slug + '/12_1x1', alt: 'Primo piano di due visitatori che interagiscono con uno schermo touchscreen che mostra esemplari storici di banconote olandesi, indicando immagini ingrandite sullo schermo.' } },
        { image: { src: 'projects/' + project_slug + '/13_1x1', alt: 'Vista dettagliata di uno schermo digitale con uno strumento interattivo di progettazione, dove un utente seleziona elementi di sicurezza per una banconota, come parte di un’esperienza educativa museale.' } },
        { image: { src: 'projects/' + project_slug + '/14_1x1', alt: 'Due bambine che interagiscono con un touchscreen nel museo, una indica l’interfaccia mentre l’altra osserva con attenzione, con strumenti da stampa visibili sullo sfondo.' } },
        { image: { src: 'projects/' + project_slug + '/15_1x1', alt: 'Gruppo di bambini raccolti attorno a una vetrina etichettata “De Duitse stempelsnijder” (“Il punzonatore tedesco”), che osservano e discutono il contenuto, con un adulto che li guida.' } },
        { image: { src: 'projects/' + project_slug + '/16_2x1', alt: 'Primo piano di due adulti sorridenti che usano uno schermo digitale interattivo con etichetta “Wealth in letters” (“Ricchezza in lettere”), con una pressa da stampa e fogli sospesi visibili sopra.' } }
      ]
    )
  }}

  {% call article_footer.regular() %}
    <h3>Premi & Riconoscimenti</h3>

    <p>
      <strong>Muse Design Awards 2020:</strong><br />
      Platinum | Design, Exhibition, Pavilions & Exhibitions<br />
      <strong>Selezionato nella galleria di Graphic Design di Behance:</strong><br />
      Categoria Exhibition & Signage
    </p>

    <h3>Crediti</h3>

    <p>
      Ruolo: <strong>Art Director | Lead Designer</strong><br />
      Datore di lavoro: <strong>Studio Louter</strong><br />
      Cliente: <strong>Noord-Hollands Archief</strong><br />
      Fotografia: <strong>Mike Bink</strong>
    </p>

    <p>© Tutti i diritti riservati a Studio Louter</p>
  {% endcall %}

  {{
    call_to_action.regular(
      variant = 'badge',
      quote = 'Esplora un altro progetto o inizia una chiacchierata.',
      badge = { href: 'mailto:_send_me_an_', title: 'Mettiti in contatto!' },
      card = {
        href: '/it/progetti/brussels/',
        title: 'Living planet',
        subtitle: 'Museum of Natural Sciences, Bruxelles (BE)',
        image: { src: 'projects/brussels/thumbnail_1x1', alt: 'Visitatrice adolescente con mascherina e camicia a quadri verdi, che interagisce con uno schermo touch inclinato tra esemplari animali tassidermizzati.' }
      }
    )
  }}
{% endblock %}
