@use '../../../assets/stylesheets/definitions/breakpoints' as breakpoints;
@use '../../../assets/stylesheets/definitions/typography' as typography;

.picture {
  display: inline-block;
  height: auto;
  position: relative;
  vertical-align: bottom;
  width: 100%;
}
