@use '../../../assets/stylesheets/definitions/breakpoints' as breakpoints;
@use '../../../assets/stylesheets/definitions/typography' as typography;

.picture {
  display: inline-block;
  position: relative;
  vertical-align: bottom;

  img[width][height] {
    height: calc(100% / attr(width, 0) * attr(height, 0));
  }
}
