{% extends 'templates/_base.en.html' %}
{% import 'components/organisms/article-content-image/article-content-image.html' as article_content_image %}
{% import 'components/organisms/article-header/article-header.html' as article_header %}
{% import 'components/organisms/call-to-action/call-to-action.html' as call_to_action %}

{% set page_title = data.sections.services.title %}
{% set page_description = data.sections.services.description %}

{% set opengraph_title = page_title %}
{% set opengraph_description = page_description %}
{% set opengraph_image = '/static/media/misc/social_1200x630.jpg' %}

{% block content %}
  {{
    article_header.regular(
      title = data.sections.services.title_with_markup or data.sections.services.title,
      subtitle = data.sections.services.description_with_markup or data.sections.services.description
    )
  }}

  {%
    call article_content_image.regular(
      variant = 'left',
      image = { loading: 'eager', src: 'misc/reviewing-blueprints_1x1', alt: data.alts['misc/reviewing-blueprints_1x1'] }
    )
  %}
    <h2>Interpretive Concept</h2>
    <p>Define what the experience is, who it is for, and how it works.</p>

    <ul>
      <li>Audience research and journey mapping</li>
      <li>Concept development and experience structure</li>
      <li>Content translation and narrative framing</li>
      <li>Early-stage project definition</li>
      <li>Development and management of pitches and tenders</li>
      <li>Stakeholder alignment and project framing</li>
    </ul>
  {% endcall %}

  {%
    call article_content_image.regular(
      variant = 'right',
      image = { src: 'misc/production-silhouette_1x1', alt: data.alts['misc/production-silhouette_1x1'] }
    )
  %}
    <h2>Creative Leadership</h2>
    <p>Guide projects from concept to delivery, across all touchpoints.</p>

    <ul>
      <li>Creative and art direction</li>
      <li>Experience design (physical, digital, and hybrid)</li>
      <li>Visual design, graphic systems, and design production</li>
      <li>Interaction design, informal learning, and game mechanics</li>
      <li>Information design, content integration, and narrative flow</li>
      <li>Leading multidisciplinary teams and guiding stakeholders</li>
    </ul>
  {% endcall %}

  {%
    call article_content_image.regular(
      variant = 'left',
      image = { src: 'misc/crowd-in-museum_1x1', alt: data.alts['misc/crowd-in-museum_1x1'] }
    )
  %}
    <h2>Accessibility Strategy</h2>
    <p>Integrate accessibility and advocate for more inclusive practices</p>

    <ul>
      <li>Accessibility integration in design processes and workflows</li>
      <li>Applying universal design and accessibility standards</li>
      <li>Research and development of accessibility guidelines</li>
      <li>Accessibility audits, testing and reviews</li>
      <li>Strategic advisory and capacity building</li>
      <li>Workshops and lectures for diverse audiences and contexts</li>
    </ul>
  {% endcall %}

  {% set cta_quote = data.sections.services.cta_quote %}
  {% set section_card = merge({}, data.section_cards.manifesto) %}
  {{ object_set_value(section_card, 'image', { src: section_card.image, alt: data.alts[section_card.image] }) }}
  {{ call_to_action.regular(quote = cta_quote, card = section_card) }}
{% endblock %}
