{% extends 'templates/_base.en.html' %}
{% import 'components/organisms/article-footer/article-footer.html' as article_footer %}
{% import 'components/organisms/call-to-action/call-to-action.html' as call_to_action %}
{% import 'components/organisms/image-grid/image-grid.html' as image_grid %}
{% import 'components/organisms/image-header/image-header.html' as image_header %}

{% set page_title = data.projects.cruquius_museum.title %}
{% set page_description = data.projects.cruquius_museum.description %}
{% set page_href = data.projects.cruquius_museum.href %}

{% set opengraph_title = page_title %}
{% set opengraph_description = page_description %}

{% block content %}
  {{
    image_header.regular(
      title = data.projects.cruquius_museum.title_with_markup or data.projects.cruquius_museum.title,
      description = data.projects.cruquius_museum.description_with_markup or data.projects.cruquius_museum.description,
      subtitle = data.projects.cruquius_museum.subtitle,
      image = { src: 'projects/cruquius-museum/cover_3x1', alt: data.alts['projects/cruquius-museum/cover_3x1'] }
    )
  }}

  {{
    image_grid.regular(
      above_fold = true,
      title = 'Overview',
      richtext = '<p>The Cruquius Museum occupies the historic pumping station that once housed one of the world’s largest steam engines, a key force in draining the Haarlemmermeer lake and shaping the Dutch landscape. The museum blends preserved industrial architecture with contemporary exhibits, inviting visitors to explore the technological ingenuity and societal impact of 19th-century steam power.</p><p>Through interactive displays, audiovisual media, large-scale projections, and hands-on activities, visitors explore engineering principles, environmental history, and human stories, discovering the power of steam technology and the massive machinery behind it.</p>',
      items = [
        { image: { src: 'projects/cruquius-museum/01_2x1', alt: data.alts['projects/cruquius-museum/01_2x1'] } },
        { image: { src: 'projects/cruquius-museum/02_1x1', alt: data.alts['projects/cruquius-museum/02_1x1'] } },
        { image: { src: 'projects/cruquius-museum/03_1x1', alt: data.alts['projects/cruquius-museum/03_1x1'] } },
        { image: { src: 'projects/cruquius-museum/04_2x1', alt: data.alts['projects/cruquius-museum/04_2x1'] } }
      ]
    )
  }}

  {{
    image_grid.regular(
      title = 'Contribution',
      richtext = '<p>I led the interaction strategy, as well as the multimedia design, and audiovisual installations, shaping a hands-on workshop experience where visitors explore the engine through physical models and hands-on stations.</p><p>My role included defining a coherent visual and interactive system that unifies preserved machinery, interpretive media, and immersive installations, ensuring clarity and engagement across historical, technical, and narrative layers.</p><p>Collaborating with different teams and partners, I translated complex engineering and environmental history into playful and accessible content formats through strategic interpretation, multimedia pacing, and spatial logic, supporting both learning and wonder in a heritage context.</p>',
      items = [
        { image: { src: 'projects/cruquius-museum/05_2x1', alt: data.alts['projects/cruquius-museum/05_2x1'] } },
        { image: { src: 'projects/cruquius-museum/06_1x1', alt: data.alts['projects/cruquius-museum/06_1x1'] } },
        { image: { src: 'projects/cruquius-museum/07_1x1', alt: data.alts['projects/cruquius-museum/07_1x1'] } },
        { image: { src: 'projects/cruquius-museum/08_2x1', alt: data.alts['projects/cruquius-museum/08_2x1'] } },
        { image: { src: 'projects/cruquius-museum/09_2x1', alt: data.alts['projects/cruquius-museum/09_2x1'] } },
        { image: { src: 'projects/cruquius-museum/10_1x1', alt: data.alts['projects/cruquius-museum/10_1x1'] } },
        { image: { src: 'projects/cruquius-museum/11_1x1', alt: data.alts['projects/cruquius-museum/11_1x1'] } },
        { image: { src: 'projects/cruquius-museum/12_2x1', alt: data.alts['projects/cruquius-museum/12_2x1'] } }
      ]
    )
  }}

  {{
    image_grid.regular(
      title = 'Key achievements',
      richtext = '<ul><li>Led interaction strategy, as well as multimedia design, and audiovisual installations for a permanent industrial heritage exhibition.</li><li>Built a coherent visual and interactive system connecting preserved machinery, interpretive media, and hands-on installations.</li><li>Translated complex engineering and environmental history into playful, accessible experiences.</li><li>Shaped a hands-on workshop environment that encourages exploration and learning by doing.</li><li>Collaborated with multidisciplinary teams and external partners across design, content, and production.</li></ul>',
      items = [
        { image: { src: 'projects/cruquius-museum/13_2x1', alt: data.alts['projects/cruquius-museum/13_2x1'] } },
        { image: { src: 'projects/cruquius-museum/14_1x1', alt: data.alts['projects/cruquius-museum/14_1x1'] } },
        { image: { src: 'projects/cruquius-museum/15_1x1', alt: data.alts['projects/cruquius-museum/15_1x1'] } },
        { image: { src: 'projects/cruquius-museum/16_2x1', alt: data.alts['projects/cruquius-museum/16_2x1'] } }
      ]
    )
  }}

  {{
    article_footer.regular(
      awards_title = data.base.awards_title,
      awards = data.projects.cruquius_museum.awards,
      recognitions_title = data.base.recognitions_title,
      recognitions = data.projects.cruquius_museum.recognitions,
      credits_title = data.base.credits_title,
      credits = data.projects.cruquius_museum.credits,
      copyright = data.projects.cruquius_museum.copyright
    )
  }}

  {{ call_to_action.regular(variant = 'badge', quote = data.projects.cruquius_museum.cta_quote, card = project_cards.living_planet) }}
{% endblock %}
