@use '../../../assets/stylesheets/definitions/breakpoints' as breakpoints;
@use '../../../assets/stylesheets/definitions/grid' as grid;
@use '../../../assets/stylesheets/definitions/typography' as typography;

.article-content {
  position: relative;

  .article-content__wrapper {
    padding: calc(var(--padding-xl) * 1.6) var(--padding-large);
  }

  @include breakpoints.landscape {
    .article-content__wrapper {
      padding: var(--padding-medium) calc(var(--padding-large) * 3.5) var(--padding-large) var(--padding-large);
    }
  }
}
