{% macro regular(classes = '', aria_label = '', href = '/', title = '', prefix_id = '') %}
  {% set aria_label = aria_label or title or 'Back to homepage' %}
  {% set title = title or site_name %}
  {% set prefix_id = prefix_id or 'logo-regular' %}

  {% if href %}
    <a class="logo logo--regular {{ classes }}" href="{{ href }}" aria-label="{{ aria_label }}">
      <svg class="logo__image" xmlns="http://www.w3.org/2000/svg" x="0" y="0" width="111" height="60" viewBox="0 0 111 60" fill="none" preserveAspectRatio="xMidYMid meet">
        <title>{{ title }}</title>

        <path fill="#ff00c8" d="M50.12 52.23V30.01A20.15 20.15 0 0 1 30 50.13 20.15 20.15 0 0 1 9.87 30a20.14 20.14 0 0 1 40.25 0c0-6.08 1.82-11.73 4.94-16.46A29.99 29.99 0 0 0 0 30c0 16.55 13.46 30 30 30 7.74 0 14.8-2.94 20.13-7.77Z" />
        <path fill="#06fcde" d="M110.13 30c0-16.54-13.46-30-30-30a30.02 30.02 0 0 0-25.07 13.54A29.82 29.82 0 0 1 60 29.99a20.14 20.14 0 0 1 40.25.01v30h9.88V30Z" />
        <path fill="#00f" d="M60 30a29.8 29.8 0 0 0-4.94-16.46A29.82 29.82 0 0 0 50.12 30v30H60V30Z" />
      </svg>
    </a>
  {% endif %}
{% endmacro %}
