{% extends 'templates/_base.en.html' %}
{% import 'components/organisms/article-footer/article-footer.html' as article_footer %}
{% import 'components/organisms/article-highlight/article-highlight.html' as article_highlight %}
{% import 'components/organisms/call-to-action/call-to-action.html' as call_to_action %}
{% import 'components/organisms/image-grid/image-grid.html' as image_grid %}
{% import 'components/organisms/image-header/image-header.html' as image_header %}
{% import 'components/organisms/video-player/video-player.html' as video_player %}

{% set project = data.projects['middelen-meter'] %}
{% set content_blocks = data.content_blocks['middelen-meter'] %}

{% set page_title = project.title %}
{% set page_description = project.description %}
{% set page_href = project.href %}

{% set opengraph_title = page_title %}
{% set opengraph_description = page_description %}

{% block content %}
  {{ image_header.regular(title = project.title_with_markup or project.title, description = project.description_with_markup or project.description, subtitle = project.subtitle, image = project.header_image) }}

  {% for block in content_blocks %}
    {% if block.type === 'image-grid' %}
      {{ image_grid.regular(above_fold = not loop.index0, title = block.title, richtext = block.richtext, images = block.images or []) }}
    {% elif block.type === 'article-highlight' %}
      {{ article_highlight.regular(title = block.title, text = block.text) }}
    {% endif %}
  {% endfor %}

  {{ article_footer.regular(awards_title = data.base.awards_title, awards = project.awards, recognitions_title = data.base.recognitions_title, recognitions = project.recognitions, credits_title = data.base.credits_title, credits = project.credits, copyright = project.copyright) }}

  {% set next_project_card = next_project_map['middelen-meter'] %}
  {{ call_to_action.regular(variant = 'badge', quote = data.base.project_cta_quote, card = next_project_card) }}
{% endblock %}
