{% extends 'templates/_base.it.html' %}
{% import 'components/organisms/article-footer/article-footer.html' as article_footer %}
{% import 'components/organisms/call-to-action/call-to-action.html' as call_to_action %}
{% import 'components/organisms/image-grid/image-grid.html' as image_grid %}
{% import 'components/organisms/image-header/image-header.html' as image_header %}
{% set page_title = 'Het Steen' %}
{% set page_description = 'Un centro visitatori all’interno dell’edificio più antico di Anversa, fatto di storie, persone e luoghi.' %}
{% set project_slug = 'het-steen' %}
{% set opengraph_image = '/static/media/projects/' + project_slug + '/cover_3x1_2560w.jpg' %}
{% set opengraph_title = page_title %}
{% set opengraph_description = page_description %}
{% set page_url_en = '/projects/' + project_slug + '/' %}
{% set page_url_it = '/it/progetti/' + project_slug + '/' %}

{% block linked_pages %}
  <link rel="alternate" hreflang="en" href="{{ page_url_en }}" />
  <link rel="alternate" hreflang="it" href="{{ page_url_it }}" />
{% endblock %}

{% block content %}
  {{
    image_header.regular(
      title = page_title,
      description = page_description,
      subtitle = 'Visit Antwerp, Anversa (BE), 2021',
      image = { src: 'projects/' + project_slug + '/cover_3x1', alt: 'Genitore e bambino che esaminano da vicino i cassetti di un antico mobile in legno all’interno di una stanza con motivi rossi presso Het Steen, scoprendo elementi tattili e visivi del passato di Anversa.' }
    )
  }}

  {{
    image_grid.regular(
      title = 'Panoramica',
      richtext = '<p>Het Steen, l’edificio più antico di Anversa, è stato trasformato in un centro visitatori che offre un’introduzione immersiva alla città. I visitatori percorrono un itinerario di 11 stanze all’interno del castello, esplorando i quartieri, i luoghi simbolo e le espressioni culturali che rendono Anversa così vibrante. Un’esperienza che offre uno sguardo ampio e coinvolgente su ciò che rende unica la città.</p>',
      items = [
        { image: { src: 'projects/' + project_slug + '/01_2x1', alt: 'Visitatrice che tocca uno schermo touchscreen verticale integrato in una grande struttura a mobile, rivelando storie stratificate attraverso opere d’arte e contenuti animati.' } },
        { image: { src: 'projects/' + project_slug + '/02_1x1', alt: 'Vista lontana di un’installazione teatrale immersiva, con una donna seduta in primo piano che osserva proiezioni a grandezza naturale di attori in costume che recitano all’interno di uno studio d’artista ricreato.' } },
        { image: { src: 'projects/' + project_slug + '/03_1x1', alt: 'Bambino seduto tra grandi modelli architettonici in legno, che guarda con stupore verso uno schermo integrato nella struttura sopra di lui.' } },
        { image: { src: 'projects/' + project_slug + '/04_1x1', alt: 'Donna che guarda verso l’alto all’interno di una struttura verticale in legno con uno schermo digitale sul soffitto che mostra un’animazione architettonica caleidoscopica.' } },
        { image: { src: 'projects/' + project_slug + '/05_1x1', alt: 'Bambino che interagisce con un grande schermo touchscreen integrato in una struttura espositiva in legno, circondato da modelli architettonici e illuminazione calda.' } }
      ]
    )
  }}

  {{
    image_grid.regular(
      title = 'Contributo',
      richtext = '<p>Ero a capo del design degli elementi visivi e multimediali, traducendo l’approccio visivo in un’ampia varietà di esperienze interattive, proiezioni a 360° e installazioni immersive. L’obiettivo era creare un collegamento fluido tra la ricca storia della città e la sua energia contemporanea, offrendo ai visitatori un percorso coinvolgente ed intrigante.</p>',
      items = [
        { image: { src: 'projects/' + project_slug + '/06_2x1', alt: 'Donna che esplora una stanza fiancheggiata da schermi verticali a grandezza naturale, ciascuno con storie e immagini culturali provenienti da diversi quartieri di Anversa.' } },
        { image: { src: 'projects/' + project_slug + '/07_1x1', alt: 'Donna che utilizza una grande mappa touchscreen orizzontale accanto a un modello in scala in legno di Anversa, in una stanza soleggiata con ampie finestre.' } },
        { image: { src: 'projects/' + project_slug + '/08_1x1', alt: 'Donna e bambino all’interno di una sala panoramica immersiva con proiezioni a tutta parete di un terminal automobilistico e una nave cargo.' } },
        { image: { src: 'projects/' + project_slug + '/09_2x1', alt: 'Donna e bambina che interagiscono con un grande tavolo mappa interattivo; entrambe sorridono indicando diversi elementi sulla superficie digitale in una stanza calda e illuminata.' } }
      ]
    )
  }}

  {{
    image_grid.regular(
      title = 'Risultati chiave',
      richtext = '<ul><li>Fuso passato, presente e futuro in un’unica narrazione</li><li>Creato contenuti per un pubblico ampio e multilingue</li><li>Coordinato gli sforzi con partner europei per garantire coerenza</li></ul>',
      items = [
        { image: { src: 'projects/' + project_slug + '/10_2x1', alt: 'Donna che interagisce con uno schermo touchscreen orizzontale dedicato all’artigianato e all’industria locale, con grandi immagini e testi in uno spazio illuminato in modo soffuso.' } },
        { image: { src: 'projects/' + project_slug + '/11_1x1', alt: 'Donna in piedi in una soffitta scarsamente illuminata, che ascolta una traccia audio tramite una cornetta mentre interagisce con uno schermo touchscreen integrato in un podio in legno.' } },
        { image: { src: 'projects/' + project_slug + '/12_1x1', alt: 'Due donne e un bambino che osservano un grande display digitale verticale che mostra una riproduzione ad alta risoluzione di un dipinto classico, all’interno di una luminosa sala espositiva con ampie finestre.' } },
        { image: { src: 'projects/' + project_slug + '/13_2x1', alt: 'Un bambino seduto sul pavimento mentre una donna sta in piedi accanto, entrambi immersi in un’installazione interattiva dove immagini e testi colorati sull’industria creativa di Anversa sono proiettati su pavimento e pareti.' } }
      ]
    )
  }}

  {% call article_footer.regular() %}
    <h3>Crediti</h3>

    <p>
      Ruolo: <strong>Art Director | Lead Designer</strong><br />
      Datore di lavoro: <strong>Studio Louter</strong><br />
      Cliente: <strong>Visit Antwerp</strong><br />
      Fotografia: <strong>Ocular</strong>
    </p>

    <p>© Tutti i diritti riservati a Studio Louter</p>
  {% endcall %}

  {{
    call_to_action.regular(
      variant = 'badge',
      quote = 'Esplora un altro progetto o inizia una chiacchierata.',
      badge = { href: 'mailto:_send_me_an_', title: 'Mettiti in contatto!' },
      card = {
        href: '/it/progetti/mauritshuis/',
        title: 'Shifting Image',
        subtitle: 'Mauritshuis, L’Aia (NL)',
        label: 'Premiato',
        image: { src: 'projects/mauritshuis/thumbnail_1x1', alt: 'Primo piano di una donna che osserva un grande dipinto coloniale raffigurante una nobildonna con bambini. La donna si trova in una galleria buia illuminata da faretti focalizzati sulle opere.' }
      }
    )
  }}
{% endblock %}
