@use '../../../assets/stylesheets/definitions/breakpoints' as breakpoints;
@use '../../../assets/stylesheets/definitions/grid' as grid;
@use '../../../assets/stylesheets/definitions/typography' as typography;

.image-grid {
  position: relative;

  .image-grid__wrapper {
    padding: var(--padding-xl) var(--padding-large);
  }

  .image-grid__title {
    @include typography.heading-2;
  }

  .richtext {
    margin-top: 1rem;
  }

  .image-grid__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    padding: 0;
  }

  .image-grid__item--1x1 {
    aspect-ratio: 1 / 1;
    grid-column: span 1;
  }

  .image-grid__item--2x1 {
    aspect-ratio: 2 / 1;
    grid-column: span 2;
  }

  @include breakpoints.landscape {
    .image-grid__wrapper {
      padding: var(--padding-large) var(--padding-large);
    }

    .image-grid__items {
      grid-template-columns: 1fr 1fr 1fr;

      //&:not(:first-child) {
      //  margin-top: var(--padding-large);
      //}
    }
  }
}
