{% import 'components/atoms/picture/picture.html' as atom_picture %}
{% import 'components/atoms/richtext/richtext.html' as atom_richtext %}

{% macro _image_wrapper(image = {}, cpacc_badge = false, hearts_shader = false) %}
  <div class="article-content-image__image-wrapper">
    {{
      atom_picture.regular(
        sources = [
          {
            type: 'image/webp',
            srcsets: [
              '/static/media/' + image.src + '_640w.webp 640w',
              '/static/media/' + image.src + '_854w.webp 854w',
              '/static/media/' + image.src + '_1280w.webp 1280w'
            ]
          },
          {
            type: 'image/jpg',
            srcsets: [
              '/static/media/' + image.src + '_640w.jpg 640w',
              '/static/media/' + image.src + '_854w.jpg 854w',
              '/static/media/' + image.src + '_1280w.jpg 1280w'
            ]
          }
        ],
        alt = image.alt,
        width = 320,
        height = 320,
        loading = image.loading or 'lazy',
        hearts_shader = hearts_shader
      )
    }}

    {% if cpacc_badge %}
      <div class="article-content-image__badges">
        <div class="article-content-image__badge article-content-image__badge--cpacc">
          <span class="article-content-image__badge-link">
            <img class="article-content-image__badge-image" src="/static/images/iaap-certified-cpacc-badge.png" alt="Certified Professional in Accessibility Core Competencies (CPACC) badge" width="120" height="120" loading="lazy" decoding="async" />
          </span>
        </div>

        <div class="article-content-image__badge article-content-image__badge--iaap">
          <span class="article-content-image__badge-link">
            <img class="article-content-image__badge-image" src="/static/images/iaap-professional-member-badge.png" alt="Certified by the Internal Association of Accessibility Professionals (IAAP) badge" width="120" height="120" loading="lazy" decoding="async" />
          </span>
        </div>
      </div>
    {% endif %}
  </div>
{% endmacro %}

{% macro regular(variant = '', image = {}, richtext = '', cpacc_badge = false, hearts_shader = false) %}
  {% set variant = variant or 'left' %}

  {% if (richtext or caller) and image and image.src %}
    <div class="article-content-image article-content-image--{{ variant }}">
      <div class="article-content-image__wrapper">
        {{ _image_wrapper(image, cpacc_badge, hearts_shader) }}

        <div class="article-content-image__content-wrapper">
          {% if richtext %}
            {{ atom_richtext.regular(richtext = richtext) }}
          {% elif caller %}
            {% set child_context = caller() %}

            {% if child_context %}
              {% call atom_richtext.regular() %}
                {{ child_context }}
              {% endcall %}
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}
{% endmacro %}
