{% extends 'templates/_base.html' %}
{% import 'components/structures/footer-bar/footer-bar.html' as footer_bar %}
{% import 'components/structures/menu-bar/menu-bar.html' as menu_bar %}
{% import 'components/structures/skip-to-main/skip-to-main.html' as skip_to_main %}
{% set lang = 'it' %}
{% set site_title = site_title or 'Portfolio di Anna Nogaré; Direttore Creativo, Stratega e Certificato CPACC.' %}
{% set site_description = site_description or 'Creare esperienze educative che parlano a tutti.' %}

{% block skip_to_main %}
  {{
    skip_to_main.regular(
      title = 'Vai al contenuto principale',
      aria_label = 'Vai al contenuto principale'
    )
  }}
{% endblock %}

{% block header %}
  {{
    menu_bar.regular(
      href = '/it/',
      title = 'Anna Nogaré',
      title_aria_label = 'Torna alla homepage',
      aria_label = 'Navigazione principale',
      dialog_aria_label = 'Finestra di dialogo del menu',
      button_aria_label = 'Attiva/disattiva la finestra di dialogo del menu',
      menu_items = [
        { href: '/it/progetti/', title: 'Progetti', aria_label: 'Esplora tutti i progetti', submenu_items: [
          { href: '/it/progetti/shifting-image/', title: 'Shifting Image', aria_label: 'Esplora il progetto Shifting Image' },
          { href: '/it/progetti/maker-park/', title: 'Maker Park', aria_label: 'Esplora il progetto Maker Park' },
          { href: '/it/progetti/family-exhibits/', title: 'Family Exhibits', aria_label: 'Esplora il progetto Family Exhibits' },
          { href: '/it/progetti/cruquius-museum/', title: 'Cruquius Museum', aria_label: 'Esplora il progetto Cruquius Museum' },
          { href: '/it/progetti/joh-enschede/', title: 'Joh. Enschedé', aria_label: 'Esplora il progetto Joh. Enschedé' },
          { href: '/it/progetti/living-planet/', title: 'Living Planet', aria_label: 'Esplora il progetto Living Planet' },
          { href: '/it/progetti/herman-boerhaave/', title: 'Herman Boerhaave', aria_label: 'Esplora il progetto Herman Boerhaave' },
          { href: '/it/progetti/prodemos/', title: 'ProDemos', aria_label: 'Esplora il progetto ProDemos' },
          { href: '/it/progetti/het-steen/', title: 'Het Steen', aria_label: 'Esplora il progetto Het Steen' }
        ] },
        { href: '/it/manifesto/', title: 'Manifesto', aria_label: 'Leggi il Manifesto Accessibilità' },
        { href: '/it/profilo/', title: 'Profilo', aria_label: 'Scopri il mio profilo' },
        { href: '/it/contatti/', title: 'Contatti', aria_label: 'Mettiti in contatto' },
        { href: page_url_en or '/', title: 'English', aria_label: 'Switch to English', lang: 'en' }
      ]
    )
  }}
{% endblock %}

{% block footer %}
  {{
    footer_bar.regular(
      aria_label = 'Navigazione a piè di pagina',
      links_start = [
        { href: 'mailto:_send_me_an_', title: '_send_me_an_' },
        { href: 'tel:_or_pick_up_the_', title: '_or_pick_up_the_' },
        { title: 'Attualmente ad Amsterdam, NL' }
      ],
      links_end = [
        { href: 'https://nl.linkedin.com/in/anna-nogar%C3%A8-27948048', title: 'LinkedIn' },
        { href: 'https://www.behance.net/annanogar', title: 'Behance' },
        { href: page_url_en or '/', title: 'English', lang: 'en' }
      ]
    )
  }}
{% endblock %}

{% block overlays %}
{% endblock %}
