<!doctype html>

<!-- axe-linter-disable html-lang-valid -->
<html lang="{{ lang or 'en' }}">
  <head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, minimum-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />

    <title></title>
    <meta name="description" content="" />

    <link rel="canonical" href="https://annanogar.com{{ redirect_page_url }}" />
    <meta name="robots" content="noindex,follow" />

    <meta http-equiv="refresh" content="0; url={{ redirect_page_url }}" />

    <script>
      window.location.replace('{{ redirect_page_url }}')
    </script>
  </head>

  <body>
    {#
    {% if lang === 'it' %}
      <h1>Reindirizzamento in corso...</h1>
      <p>Reindirizzamento a <a href="{{ redirect_page_url }}">{{ redirect_page_url }}</a>...</p>
    {% else %}
      <h1>Redirecting...</h1>
      <p>Redirecting to <a href="{{ redirect_page_url }}">{{ redirect_page_url }}</a>...</p>
    {% endif %}
    #}
  </body>
</html>
