{% extends 'templates/_base.html' %}
{% import 'components/structures/footer-bar/footer-bar.html' as footer_bar %}
{% import 'components/structures/menu-bar/menu-bar.html' as menu_bar %}
{% import 'components/structures/skip-to-main/skip-to-main.html' as skip_to_main %}
{% set lang = 'it' %}
{% set site_title = site_title or 'Portfolio di Anna Nogaré; Direttore Creativo, Stratega e Certificato CPACC.' %}
{% set site_description = 'Creare esperienze educative che parlano a tutti.' %}
{% set opengraph_site_name = 'Portfolio di Anna Nogaré; Direttore Creativo, Stratega e Certificato CPACC.' %}
{% set opengraph_image = '' %}
{% set opengraph_title = '' %}
{% set opengraph_description = '' %}

{% block skip_to_main %}
  {{
    skip_to_main.regular(
      title = 'Vai al contenuto principale',
      aria_label = 'Vai al contenuto principale'
    )
  }}
{% endblock %}

{% block header %}
  {{
    menu_bar.regular(
      href = '/it/',
      title = 'Anna Nogaré',
      aria_label = 'Navigazione principale',
      dialog_aria_label = 'Finestra di dialogo del menu',
      button_aria_label = 'Attiva/disattiva la finestra di dialogo del menu',
      menu_items = [
        { title: 'Progetti', submenu_items: [
          { href: '/it/progetti/mauritshuis/', title: 'Shifting Image' },
          { href: '/it/progetti/ilmi/', title: 'Maker Park' },
          { href: '/it/progetti/qatar/', title: 'Family Exhibits' },
          { href: '/it/progetti/cruquius/', title: 'Cruquius Museum' },
          { href: '/it/progetti/nh-archief/', title: 'Joh. Enschedé' },
          { href: '/it/progetti/brussels/', title: 'Living Planet' },
          { href: '/it/progetti/boerhaave/', title: 'Herman Boerhaave' },
          { href: '/it/progetti/prodemos/', title: 'ProDemos' },
          { href: '/it/progetti/het-steen/', title: 'Het Steen' }
        ] },
        { href: '/it/manifesto/', title: 'Manifesto', aria_label: 'Leggi il manifesto Accessibilità' },
        { href: '/it/profilo/', title: 'Profilo', aria_label: 'Scopri il mio profilo' },
        { href: '/it/contatti/', title: 'Contatti', aria_label: 'Contattami' },
        { href: page_url_en or '/', title: 'English', aria_label: 'Switch to English', lang: 'en' }
      ]
    )
  }}
{% endblock %}

{% block footer %}
  {{
    footer_bar.regular(
      aria_label = 'Navigazione a piè di pagina',
      links_start = [
        { href: 'mailto:_send_me_an_', title: '_send_me_an_' },
        { href: 'tel:_or_pick_up_the_', title: '_or_pick_up_the_' },
        { title: 'Attualmente ad Amsterdam, NL' }
      ],
      links_end = [
        { href: 'https://linkedin.com/in/anna-nogar%C3', title: 'LinkedIn' },
        { href: 'https://www.behance.net/annanogar', title: 'Behance' },
        { href: page_url_en or '/', title: 'English', lang: 'en' }
      ]
    )
  }}
{% endblock %}

{% block overlays %}
{% endblock %}
