{% extends 'templates/_base.html' %}
{% import 'components/structures/footer-bar/footer-bar.html' as footer_bar %}
{% import 'components/structures/menu-bar/menu-bar.html' as menu_bar %}
{% import 'components/structures/skip-to-main/skip-to-main.html' as skip_to_main %}
{% set lang = 'en' %}
{% set site_title = site_title or 'Anna Nogaré; Creative Director, Strategist and CPACC Certified.' %}
{% set site_description = site_description or 'Creating meaningful experiences that everyone can enjoy.' %}

{% block skip_to_main %}
  {{
    skip_to_main.regular(
      title = 'Skip to main content',
      aria_label = 'Skip to main content'
    )
  }}
{% endblock %}

{% block header %}
  {{
    menu_bar.regular(
      href = '/',
      title = 'Anna Nogaré',
      title_aria_label = 'Back to homepage',
      aria_label = 'Main navigation',
      dialog_aria_label = 'Menu dialog',
      button_aria_label = 'Toggle menu dialog',
      menu_items = [
        { href: '/projects/', title: 'Projects', aria_label: 'Explore all projects', submenu_items: [
          { href: '/projects/shifting-image/', title: 'Shifting Image', aria_label: 'Explore the Shifting Image project' },
          { href: '/projects/maker-park/', title: 'Maker Park', aria_label: 'Explore the Maker Park project' },
          { href: '/projects/family-exhibits/', title: 'Family Exhibits', aria_label: 'Explore the Family Exhibits project' },
          { href: '/projects/cruquius-museum/', title: 'Cruquius Museum', aria_label: 'Explore the Cruquius Museum project' },
          { href: '/projects/joh-enschede/', title: 'Joh. Enschedé', aria_label: 'Explore the Joh. Enschedé project' },
          { href: '/projects/living-planet/', title: 'Living Planet', aria_label: 'Explore the Living Planet project' },
          { href: '/projects/herman-boerhaave/', title: 'Herman Boerhaave', aria_label: 'Explore the Herman Boerhaave project' },
          { href: '/projects/prodemos/', title: 'ProDemos', aria_label: 'Explore the ProDemos project' },
          { href: '/projects/het-steen/', title: 'Het Steen', aria_label: 'Explore the Het Steen project' }
        ] },
        { href: '/manifesto/', title: 'Manifesto', aria_label: 'Read Accessibility Manifesto' },
        { href: '/about/', title: 'About', aria_label: 'Learn more about me' },
        { href: '/contact/', title: 'Contact', aria_label: 'Get in touch with me' },
        { href: page_url_it or '/it/', title: 'Italiano', aria_label: 'Passare all’italiano', lang: 'it' }
      ]
    )
  }}
{% endblock %}

{% block footer %}
  {{
    footer_bar.regular(
      aria_label = 'Footer navigation',
      links_start = [
        { href: 'mailto:_send_me_an_', title: '_send_me_an_' },
        { href: 'tel:_or_pick_up_the_', title: '_or_pick_up_the_' },
        { title: 'Currently in Amsterdam, NL' }
      ],
      links_end = [
        { href: 'https://nl.linkedin.com/in/anna-nogar%C3%A8-27948048', title: 'LinkedIn', target: '_blank' },
        { href: 'https://www.behance.net/annanogar', title: 'Behance', target: '_blank' },
        { href: page_url_it or '/it/', title: 'Italiano', lang: 'it' }
      ]
    )
  }}
{% endblock %}

{% block overlays %}
{% endblock %}
