{% extends 'templates/_base.en.html' %}
{% import 'components/organisms/article-content/article-content.html' as article_content %}
{% import 'components/organisms/call-to-action/call-to-action.html' as call_to_action %}
{% import 'components/organisms/landing-header/landing-header.html' as landing_header %}
{% set page_title = 'Contact' %}
{% set page_description = 'Whether you’re building a learning experience, designing an educational tool, or looking for accessibility expertise, I’d love to hear from you.' %}
{% set opengraph_image = '/static/media/contact/social_1200x630.jpg' %}
{% set page_url_en = '/contact/' %}
{% set page_url_it = '/it/contatti/' %}

{% block linked_pages %}
  <link rel="alternate" hreflang="en" href="https://annanogar.com{{ page_url_en }}" />
  <link rel="alternate" hreflang="it" href="https://annanogar.com{{ page_url_it }}" />
{% endblock %}

{% block content %}
  {{
    landing_header.regular(
      title = page_title,
      subtitle = page_description,
      richtext = '<p>Send me an email at <strong><a href="mailto:_send_me_an_">_send_me_an_</a></strong> or call me at <strong><a href="tel:_or_pick_up_the_">_or_pick_up_the_</a></strong>.</p>',
      more_richtext = '<p>Currently in Amsterdam (NL), soon relocating to Italy, working worldwide.</p><p><strong>Let’s make culture more accessible, together.</strong></p>'
    )
  }}

  {{
    call_to_action.regular(
      quote = 'Always up for big ideas, or just a good decaf Americano.',
      badge = { variant: 'bright', href: 'mailto:_send_me_an_', title: 'Get in touch!' },
      card = {
        href: '/about/',
        title: 'Learn more about me',
        image: { src: 'about/cta_1x1', alt: 'Anna Nogaré facing the camera with colorful dot projections on her face and shirt, against a dark background.' }
      }
    )
  }}
{% endblock %}
