{% extends 'templates/_base.en.html' %}
{% import 'components/organisms/article-content-image/article-content-image.html' as article_content_image %}
{% import 'components/organisms/article-header/article-header.html' as article_header %}
{% import 'components/organisms/call-to-action/call-to-action.html' as call_to_action %}
{% set page_title = 'Contact' %}
{% set page_description = 'If you’d like to discuss a project, ask a question, or simply say hi, I’d love to hear from you.' %}
{% set opengraph_image = '/static/media/misc/social_1200x630.jpg' %}
{% set page_url_en = '/contact/' %}
{% set page_url_it = '/it/contatti/' %}

{% block linked_pages %}
  <link rel="alternate" hreflang="en" href="https://annanogar.com{{ page_url_en }}" />
  <link rel="alternate" hreflang="it" href="https://annanogar.com{{ page_url_it }}" />
  <link rel="alternate" hreflang="x-default" href="https://annanogar.com{{ page_url_en }}" />
{% endblock %}

{% block content %}
  {{
    article_header.regular(
      title = page_title
    )
  }}

  {%
    call article_content_image.regular(
      variant = 'left',
      image = { src: 'misc/vintage-telephone_pawel-czerwinski-unsplash_1x1', alt: 'An antique-style telephone with a wooden base and silver metal handset against a dark blue background.' }
    )
  %}
    <p>{{ page_description }}</p>
    <p>I’m currently based in Italy and work worldwide.</p>
    <p class="paragraph--gigantic"><a href="mailto:_send_me_an_">_send_me_an_</a><br /><a href="tel:_or_pick_up_the_">_or_pick_up_the_</a></p>
    <p style="font-variant: small-caps;">P.IVA: IT01315520252</p>
  {% endcall %}

  {{
    call_to_action.regular(
      quote = 'Always up for big ideas, or just a good decaf Americano.',
      card = {
        href: '/projects/shifting-image/',
        title: 'Shifting Image',
        subtitle: 'Mauritshuis, The Hague (NL)',
        label: 'Awarded',
        image: { src: 'projects/shifting-image/thumbnail_1x1', alt: 'Close-up of a woman gazing at a large colonial painting depicting a noblewoman with children. The woman stands in a dark gallery lit by focused spotlights on the artworks.' }
      }
    )
  }}
{% endblock %}
