{% extends 'templates/_base.en.html' %}
{% import 'components/organisms/article-footer/article-footer.html' as article_footer %}
{% import 'components/organisms/call-to-action/call-to-action.html' as call_to_action %}
{% import 'components/organisms/image-grid/image-grid.html' as image_grid %}
{% import 'components/organisms/image-header/image-header.html' as image_header %}
{% set page_title = 'Het Steen: The Gateway to Antwerp’s history' %}
{% set page_description = 'Het Steen, the oldest building in Antwerp, has been transformed into a visitor center that offers an immersive introduction to the city.' %}
{% set project_slug = 'het-steen' %}
{% set opengraph_image = '/static/media/projects/' + project_slug + '/cover_3x1_2560w.jpg' %}
{% set opengraph_title = page_title %}
{% set opengraph_description = page_description %}

{% block content %}
  {{
    image_header.regular(
      title = page_title,
      subtitle = 'Visit Antwerp, Antwerp (BE), 2021',
      image = { src: 'projects/' + project_slug + '/cover_3x1', alt: 'TODO: Alt text' }
    )
  }}

  {{
    image_grid.regular(
      title = 'Overview',
      introduction = 'Het Steen, the oldest building in Antwerp, has been transformed into a visitor center that offers an immersive introduction to the city. Visitors explore the castle along an 11-room path,  discovering diverse neighborhoods, iconic landmarks and examples of Antwerp’s vibrant culture. The experience provides a comprehensive view of what makes Antwerp truly unique.',
      items = [
        { image: { src: 'projects/' + project_slug + '/01_2x1', alt: 'TODO: Alt text' } },
        { image: { src: 'projects/' + project_slug + '/02_1x1', alt: 'TODO: Alt text' } },
        { image: { src: 'projects/' + project_slug + '/03_1x1', alt: 'TODO: Alt text' } },
        { image: { src: 'projects/' + project_slug + '/04_1x1', alt: 'TODO: Alt text' } },
        { image: { src: 'projects/' + project_slug + '/05_1x1', alt: 'TODO: Alt text' } }
      ]
    )
  }}

  <!-- TODO: CHANGE 9TH IMAGE TO LANDSCAPE -->
  {{
    image_grid.regular(
      title = 'Contribution',
      introduction = 'I managed the design of the visual and multimedia elements, translating the visual approach into a variety of interactive experiences, 360° projections, and immersive installations. The aim was to create a seamless connection between the city’s rich history and its contemporary energy, offering visitors an entertaining and intriguing journey.',
      items = [
        { image: { src: 'projects/' + project_slug + '/06_2x1', alt: 'TODO: Alt text' } },
        { image: { src: 'projects/' + project_slug + '/07_1x1', alt: 'TODO: Alt text' } },
        { image: { src: 'projects/' + project_slug + '/08_1x1', alt: 'TODO: Alt text' } },
        { image: { src: 'projects/' + project_slug + '/09_2x1', alt: 'TODO: Alt text' } },
        { image: { src: 'projects/' + project_slug + '/10_2x1', alt: 'TODO: Alt text' } },
        { image: { src: 'projects/' + project_slug + '/11_1x1', alt: 'TODO: Alt text' } },
        { image: { src: 'projects/' + project_slug + '/12_1x1', alt: 'TODO: Alt text' } },
        { image: { src: 'projects/' + project_slug + '/13_2x1', alt: 'TODO: Alt text' } }
      ]
    )
  }}

  {% call article_footer.regular() %}
    <h3>Credits</h3>

    <p>
      <strong>Role:</strong>
      Art Director | Lead Designer<br />
      <strong>Employer:</strong>
      Studio Louter<br />
      <strong>Client:</strong>
      Visit Antwerp<br />
      <strong>Photography:</strong>
      Ocular
    </p>

    <p>© All rights reserved to Studio Louter</p>
  {% endcall %}

  {{
    call_to_action.regular(
      variant = 'badge',
      quote = 'Explore the next project or start a conversation.',
      badge = { href: 'mailto:_send_me_an_?subject=Via%20the%20website', title: 'Get in touch!' },
      card = {
        href: '/projects/mauritshuis/',
        title: 'Shifting Image on the Dutch Colonial History',
        subtitle: 'Mauritshuis, The Hague (NL)',
        label: 'Awarded',
        image: { src: 'projects/mauritshuis/thumbnail_1x1', alt: 'TODO: Alt text' }
      }
    )
  }}
{% endblock %}
