{% extends 'templates/_base.en.html' %}
{% import 'components/organisms/article-footer/article-footer.html' as article_footer %}
{% import 'components/organisms/call-to-action/call-to-action.html' as call_to_action %}
{% import 'components/organisms/card-grid/card-grid.html' as card_grid %}
{% import 'components/organisms/landing-header/landing-header.html' as landing_header %}
{% set page_title = 'Portfolio of Anna Nogaré; Creative Director, Strategist and CPACC Certified.' %}
{% set page_description = 'Creating learning experiences that everyone can enjoy.' %}
{% set opengraph_image = '/static/media/about/cta_1x1_1280w.jpg' %}
{% set opengraph_title = page_title %}
{% set opengraph_description = page_description %}

{% block content %}
  {{
    landing_header.regular(
      title = 'Creating learning experiences that everyone can enjoy.',
      badge = { href: '/manifesto/', title: 'Read Accessibility manifesto' }
    )
  }}

  {{
    card_grid.regular(
      cards = [
        {
          href: '/projects/mauritshuis/',
          title: 'Shifting Image on the Dutch Colonial History',
          subtitle: 'Mauritshuis, The Hague (NL)',
          label: 'Awarded',
          image: { src: 'projects/mauritshuis/thumbnail_1x1', alt: 'TODO: Alt text' }
        },

        {
          href: '/projects/ilmi/',
          title: 'A Digital Journey Through STREAM Informal Learning',
          subtitle: 'ilmi Science Discovery & Innovation Center, Riyadh (SA)',
          image: { src: 'projects/ilmi/thumbnail_1x1', alt: 'TODO: Alt text' }
        },

        {
          href: '/projects/qatar/',
          title: 'A Family Experience of Qatar’s Heritage',
          subtitle: 'National Museum of Qatar, Doha (QA)',
          label: 'Awarded',
          image: { src: 'projects/qatar/thumbnail_1x1', alt: 'TODO: Alt text' }
        },

        {
          href: '/projects/cruquius/',
          title: 'Haarlemmermeer & the World’s Largest Steam Engine',
          subtitle: 'Cruquius Museum, Cruquius (NL)',
          label: 'Featured',
          image: { src: 'projects/cruquius/thumbnail_1x1', alt: 'TODO: Alt text' }
        },

        {
          href: '/projects/nh-archief/',
          title: 'At the discovery of Joh. Enschedé, Printers of Value',
          subtitle: 'Noord-Hollands Archief, Haarlem (NL)',
          label: 'Awarded + Featured',
          image: { src: 'projects/nh-archief/thumbnail_1x1', alt: 'TODO: Alt text' }
        },

        {
          href: '/projects/brussels/',
          title: 'Discovering & Understanding Our Living Planet',
          subtitle: 'Museum of Natural Sciences, Brussels (BE)',
          image: { src: 'projects/brussels/thumbnail_1x1', alt: 'TODO: Alt text' }
        },

        {
          href: '/projects/boerhaave/',
          title: 'Herman Boerhaave & the Golden Age of Science',
          subtitle: 'Rijksmuseum Boerhaave, Leiden (NL)',
          image: { src: 'projects/boerhaave/thumbnail_1x1', alt: 'TODO: Alt text' }
        },

        {
          href: '/projects/prodemos/',
          title: 'Make Your Own Law: Propose, Explore, Debate',
          subtitle: 'ProDemos, The Hague (NL)',
          image: { src: 'projects/prodemos/thumbnail_1x1', alt: 'TODO: Alt text' }
        },

        {
          href: '/projects/het-steen/',
          title: 'Het Steen: The Gateway to Antwerp’s history',
          subtitle: 'Visit Antwerp, Antwerp (BE)',
          image: { src: 'projects/het-steen/thumbnail_1x1', alt: 'TODO: Alt text' }
        }
      ]
    )
  }}

  {{
    call_to_action.regular(
      variant = 'dark',
      quote = 'It’s not about <em>them</em> at the end. It’s about <em>all of us</em> from the very start.',
      badge = { variant: 'bright', href: '/about/', title: 'Who I am & How I work' },
      image = { src: 'about/cta_1x1', alt: 'TODO: Alt text' }
    )
  }}
{% endblock %}
