{% extends 'templates/_base.en.html' %}
{% import 'components/organisms/article-footer/article-footer.html' as article_footer %}
{% import 'components/organisms/call-to-action/call-to-action.html' as call_to_action %}
{% import 'components/organisms/card-grid/card-grid.html' as card_grid %}
{% import 'components/organisms/landing-header/landing-header.html' as landing_header %}
{% import 'components/organisms/tricard-call-to-action/tricard-call-to-action.html' as tricard_call_to_action %}

{% set page_title = data.sections.home.title %}
{% set page_description = data.sections.home.description %}
{% set opengraph_title = page_title %}
{% set opengraph_description = page_description %}
{% set opengraph_image = '/static/media/misc/social_1200x630.jpg' %}

{% block content %}
  {{
    landing_header.regular(
      title = data.sections.home.title_with_markup or data.sections.home.title,
      subtitle = data.sections.home.subtitle,
      badge = { href: '/manifesto/', title: data.base.badge_manifesto_title }
    )
  }}

  {%
    set cards = [
      merge({}, project_cards.shifting_image),
      merge({}, project_cards.maker_park),
      merge({}, project_cards.family_exhibits),
      merge({}, project_cards.vanishing),
      merge({}, project_cards.cruquius_museum),
      merge({}, project_cards.joh_enschede),
      merge({}, project_cards.herman_boerhaave),
      merge({}, project_cards.living_planet),
      merge({}, project_cards.badge_academy),
      merge({}, project_cards.parassita),
      merge({}, project_cards.canon),
      merge({}, project_cards.het_steen),
      merge({}, project_cards.middelen_meter),
      merge({}, project_cards.prodemos),
      merge({}, project_cards.interplanetary)
    ]
  %}

  {{ card_grid.regular(above_fold = true, title = data.base.selected_projects_title, cards = cards) }}
  {{ call_to_action.regular(variant = 'home', quote = data.sections.home.cta_quote, image = { src: 'misc/anna-dots_1x1', alt: data.alts['misc/anna-dots_1x1'] }, badge = { variant: 'bright', href: '/about/', title: data.base.badge_about_title }) }}
  {{ card_grid.regular(cards = [section_text_cards.services, section_text_cards.manifesto, section_text_cards.resources]) }}
{% endblock %}
