<!doctype html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, minimum-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />

    <title>Creating learning experiences that everyone can enjoy. — Anna Nogaré</title>
    <meta name="description" content="IAAP Certified, Creative Director, Strategist" />

    <meta name="application-name" content="Anna Nogaré" />
    <meta name="theme-color" content="#000042" />
    <meta name="msapplication-TileColor" content="#000042" />
  </head>

  <body>
    <h1>Anna Nogaré — IAAP Certified, Creative Director, Strategist</h1>
    <h2>Website under construction</h2>
    <p><a href="mailto:anna.nogar@gmail.com">anna.nogar@gmail.com</a> | <a href="tel:+31625315441">+31 (0)6 25 315 441</a> | Currently in Amsterdam, NL | <a href="https://linkedin.com/in/anna-nogar%C3">LinkedIn</a> | <a href="https://www.behance.net/annanogar">Behance</a></p>

    <style>
      html,
      body {
        margin: 0;
      }

      body {
        font-family: sans-serif;
        font-size: 1.2em;
        line-height: 1.5em;
        background-color: #000042;
        color: #fff;
        padding: 20px;
        display: flex;
        flex-direction: column;
        place-content: center;
      }
    </style>
  </body>
</html>
