{% extends 'templates/_base.en.html' %}
{% import 'components/organisms/article-content-image/article-content-image.html' as article_content_image %}
{% import 'components/organisms/article-header/article-header.html' as article_header %}
{% import 'components/organisms/article-quote/article-quote.html' as article_quote %}
{% import 'components/organisms/call-to-action/call-to-action.html' as call_to_action %}
{% import 'components/organisms/card-list/card-list.html' as card_list %}

{% set page_title = data.sections.resources.title %}
{% set page_description = data.sections.resources.description %}

{% set opengraph_title = page_title %}
{% set opengraph_description = page_description %}
{% set opengraph_image = '/static/media/misc/social_1200x630.jpg' %}

{% block content %}
  {{
    article_header.regular(
      title = data.sections.resources.title_with_markup or data.sections.resources.title,
      subtitle = data.sections.resources.subtitle, subtitle_2 = data.sections.resources.subtitle_2
    )
  }}

  {{
    card_list.regular(
      cards = [
        {
          href: '/resources/we-are-all-temporarily-able-yes-you-too',
          pretitle: '<time datetime="2026-05-13">13-05-2026</time> | <em>12 min</em>',
          title: 'We are all temporarily able. Yes, you too.',
          subtitle: 'Stop thinking of disability as something that happens to “other people”. Discover why we are all temporarily able and how changing our perspective on design and accessibility can build a world that works for everyone.'
        },

        {
          href: 'https://goodjob.vision/interpretive-design-italia-cultura-accessibile/',
          target: '_blank',
          pretitle: '<time datetime="2026-05-04">04-05-2026</time> | <em>14 min</em>',
          subtitle: 'Published on Goodjob!',
          title: 'Interpretive design: progettare cultura accessibile non è un favore per pochi, ma migliora la vita di tutti'
        }
      ]
    )
  }}

  {{ call_to_action.regular(quote = data.sections.resources.cta_quote, card = section_cards.contact) }}
{% endblock %}
