{% extends 'templates/_base.en.html' %}
{% import 'components/organisms/article-content-image/article-content-image.html' as article_content_image %}
{% import 'components/organisms/article-header/article-header.html' as article_header %}
{% import 'components/organisms/article-quote/article-quote.html' as article_quote %}
{% import 'components/organisms/call-to-action/call-to-action.html' as call_to_action %}
{% import 'components/organisms/card-list/card-list.html' as card_list %}

{% set section = data.sections.resources %}

{% set page_title = section.title %}
{% set page_description = section.description %}
{% set page_href = section.href %}

{% set opengraph_title = page_title %}
{% set opengraph_description = page_description %}

{% block content %}
  {{ article_header.regular(title = section.title_with_markup or section.title, subtitle = section.subtitle, subtitle_2 = section.subtitle_2) }}
  {{ card_list.regular(cards = data.resource_cards) }}
  {{ call_to_action.regular(quote = section.cta_quote, card = section_cards.contact) }}
{% endblock %}
