{% import 'components/molecules/article-card/article-card.html' as molecule_article_card %}

{% macro regular(cards = [], title = '') %}
  {% if cards|length %}
    <div class="card-list">
      {% if title %}
        <div class="card-list__title-wrapper">
          <h2 class="card-list__title">{{ title }}</h2>
        </div>
      {% endif %}

      <div class="card-list__wrapper">
        <ul class="card-list__items">
          {% for card in cards %}
            <li class="card-list__item">
              {{ molecule_article_card.regular(href = card.href, target = card.target, title = card.title, subtitle = card.subtitle, pretitle = card.pretitle, pretitle_2 = card.pretitle_2) }}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endif %}
{% endmacro %}
